
html,
body,
div.background
{     /*IE9 SVG, needs conditional override of 'filter' to 'none' */
height: 100%; 
background: #F3FFFF;
}

div.background {
min-height: 100%; 
}
 
body > div.background {
  height: auto; 
}

#page{
	height: 3000px;
	width: 3000px;
	margin: 50px;
	z-index: -5;
}

h1{
    font-size: 14pt;
    font-weight: bold;
    color: orange;
    font-family: 'Helvetica, Meiryo';
    letter-spacing: 0.3em;
    padding-bottom: 38px;
    margin:0;
}

.clear{
    clear:both;
}

button#make_fusen,#remove_fusen{
    padding: 11px 36px;
    font-size: 16pt;
    display: inline;
}


#canvas-wrap{
	position: relative;
	top:0;
	left:0;
	/*z-index: -1;*/
}

canvas{
	border: 1px solid black;
	position: relative;
	top: 0;
	left: 0;
	background: #ffffff; /* white */
	/*z-index: -1;*/
}

.fusen{
	position: absolute;
	text-align: center; 
	color: black;
	font-size: 16px;
	font-family: メイリオ, sans-serif;
	background: #ffdd34;
	padding: 12px;
	z-index: 100;
	width: 150px;
	height: 100px;
}

.cross{
	position: absolute;
	text-align: center; 
	color: black;
	font-size: 8px;
	font-family: メイリオ, sans-serif;
	background: #ffdd34;
	padding: 0.5px;
	z-index: 200;
	width: 5px;
	height: 5px;
	cursor: pointer;

}

#button_area{
	/*height:200px;*/
	/*background: red;*/
	width: auto;
	margin-bottom: 10px;
}

#capture_btn{
	margin-bottom: 10px;
}
