/*
#################################
PC用CSS
- 
- 
- 
#################################
*/
html{
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}

body{
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	/*position: relative;*/
	/*background: #f4cc70;*/
}

header{
	position: relative;
	z-index:5;
	padding-left: 20px;
	z-index:5;
	display:flex;
	display:webkit-flex;
	justify-content:flex-start;
	-webkit-justify-content:flex-start;
	background: wheat;
}

h1{
    font-size: 28pt;
    /*font-weight: bold;*/
    color: black;
    /*font-family: 'Helvetica, Meiryo';*/
    font-family: 'allura';
    letter-spacing: 0.3em;
    display: block;
}

#checkArea{
	display: block;
	font-weight: bold;	
	padding-top: 30px;
}

#btnArea{
/*	padding-top: 10px;
*/
}


button#createFusen,#removeFusen,#captureBtn{
    font-size: 18pt;
    margin-right: 5px;
    padding: 15px 24px;
}

#canvas-wrap{
	/*height: 100%;*/
	width: 1000px;
	position: relative;
	top:0;
	left:0;
	/*position: fixed;*/
}

canvas{
	height: 100%;
	width: 100%;
	border: 1px solid gray;
	/*position: absolute;*/
	position:relative;
	top: 0px;
	left: 0px;
	/*background: #ffffff; /* white */

	z-index:1;
	/*margin: -50px;*/
}

.fusen{
	position: absolute;
	text-align: center; 
	color: black;
	font-size: 13px;
	font-weight: bold;
	font-family: メイリオ, sans-serif;
	background: #ffdd34;
	padding: 22px 5px 3px;
	z-index: 5;
	width: 150px;
	height: 100px;
	border: 1px solid #f4cc70;
}

.cross{
	position: absolute;
	text-align: center; 
	color: black;
	font-size: 8px;
	font-family: メイリオ, sans-serif;
	background: #ffdd34;
	padding: 0.5px;
	z-index: 500;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: transparent;
	top:4px;
	left: 125px;

}


#backImage{
	position: absolute;
	top:0px;
	left: 0px;
	width: 150px;
	height: 100px;
}

#btnAreaSp{
display: none;
}

ul {
  font-size: 0;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  z-index: 500;
  display: inline;
  display:flex;
  display:webkit-flex;
/*  justify-content:space-around;
  -webkit-justify-content:space-around;
*/}

li{
  text-align: center;
  display: block;
  z-index: 500;

 }  

#createFusenSp,#removeFusenSp,#captureBtnSp{
	display: block;
	font-size: 20px;
}

@font-face {
   font-family: allura;
   src: url('../font/Allura-Regular.otf') format("opentype");
}

/*@media only screen and (max-device-width : 480px) {*/
/* スマートフォンだけ以下を適用 */
  /*	
	#page{
		width:95%;
		margin: 0 10px;
	}

	#canvas-wrap{
	width: 100%;
    height: 500px;
	position: relative;
	top:0;
	left:0;
	}

	canvas{
		border: 1px solid gray;
		position: relative;
		top: 0;
		left: 0;
		background: #ffffff; 
		height: 100%;
		width: 100%;
	}

	.fusen{
		position: absolute;
		text-align: center; 
		color: black;
		font-size: 12px;
		font-weight: bold;
		font-family: メイリオ, sans-serif;
		background: #ffdd34;
		padding: 22px 5px 3px;
		z-index: 100;
		width: 120px;
		height: 80px;
		border: 1px solid #f4cc70;
	}

	.cross{
		position: absolute;
		text-align: center; 
		color: black;
		font-size: 8px;
		font-family: メイリオ, sans-serif;
		background: #ffdd34;
		padding: 0.5px;
		z-index: 200;
		width: 20px;
		height: 20px;
		cursor: pointer;
		background: transparent;
		top:4px;
		left: 100px;
	}
}*/
